<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.telerik.plugins.eqatecanalytics"
    version="1.0.0">

	<engines>
		<engine name="cordova" version=">=2.7.0" />
	</engines>

  <name>Eqatec Analytics</name>  
  
  <js-module src="EqatecAnalytics.js" name="EqatecAnalytics">
    <clobbers target="plugins.analytics" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
    <source-file src="src/android/Logger.java" target-dir="src/com/telerik/plugins/eqatecanalytics" />
	<source-file src="src/android/EqatecAnalyticsPlugin.java" target-dir="src/com/telerik/plugins/eqatecanalytics" />	
    
    <config-file target="res/xml/config.xml" parent="/cordova/plugins">
	  <plugin name="EqatecAnalytics" value="com.telerik.plugins.eqatecanalytics.EqatecAnalyticsPlugin" />
    </config-file>
  	
    <config-file target="AndroidManifest.xml" parent="/manifest">
	  <uses-permission android:name="android.permission.INTERNET" />
	  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>
  	
	<source-file src="src/android/analyticsmonitor.jar" target-dir="libs"/>		
    				
  </platform>    
  
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="plugins">
       <plugin name="EqatecAnalytics" value="EqatecAnalyticsPlugin"/>
    </config-file>
    
    <header-file src="src/ios/EQATECAnalyticsMonitor.h" />
    <source-file src="src/ios/EQATECAnalyticsMonitor.m" />
    <source-file src="src/ios/EQATECAnalyticsMonitoriOS.a" framework="true" />
  </platform>
	
</plugin>
